#cc-valid {
    padding: 2px 6px
}
.glyphicon {
    font-size: 26px;
}
#cc-valid .glyphicon-ban-circle,
#cc-valid.valid .glyphicon-ok-circle {
    display: inline-block;
}
#cc-valid .glyphicon-ok-circle,
#cc-valid.valid .glyphicon-ban-circle {
    display: none;
}
